<div class="container" style="position: center">
  <div class=" contactUs col-md-3">
    <p style="position: absolute; word-break: break-word"><b>Mumbai</b><br>
      Indiabulls Finance Centre
      Tower 3, 24th / 25th / 26th / 27th – 32nd Floor
      Senapati Bapat Marg, Elphinstone Road (West)
      Mumbai, Maharashtra
      India, 400013</p>
  </div>

  <div class=" contactUs col-md-3">
    <p style="position: absolute; word-break: break-word"><b>Bengaluru</b><br>
      Prestige Trade Tower, 14th till 22nd floor,
      Municipal No. 46, Ward No. 77
      Palace Road, Sampangiram Nagar
      Bengaluru, Karnataka
      India, 560001</p>
  </div>
  <div class=" contactUs col-md-3">
    <p style="position: absolute; word-break: break-word"><b>Pune</b><br>
      706, ‘B’ Wing, 7th Floor
      106 b wing 1st floor
      301-304 3rd floor A wing
      ICC Trade Tower, Senapati Bapat Road,
      Pune, Maharashtra<br>
      India, 411016
  </div>


</div>