#loginStatus{
    color: white;
    margin-left: 85%
}

.buttons-space {
    padding-left: 20px;
    padding-right: 20px;
}

.login-space  {
    /* margin-right: 26px;
    margin-top: 15px; */
    margin-top:1%;
    margin-left: 88%;
    cursor: pointer;
    
}
a:hover {
    color: white;
}

#login{
    margin-left: 13%;
}

  
