<div class="row">
  <h2>Employee Details <button type="submit" class="btn btn-sm btn-success" style="margin-left: 61%"
      (click)="open()">Add Employee</button></h2>
</div>
<p-dialog [closeOnEscape]="false" [(visible)]="addEmployeePopup" [responsive]="true" modal="modal" responsive="true"
  styleClass="uem-sweetalert" [resizable]="false" [draggable]="false" class="roundCorner">
  <div class="container addEmployee">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)">

      <div class="form-group" *ngIf="isEdit">
        <label for="empId">EmpID:</label>
        <input class="form-control input-sm" id="empId" formControlName="empID" disabled />
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control input-sm" id="name" placeholder="Enter Name" formControlName="empName">
        <div *ngIf="employeeForm.get('empName').hasError('required')
                            && employeeForm.get('empName').touched" class="text-danger">'Name' is a mandatory field.
        </div>
        <div *ngIf="employeeForm.get('empName').hasError('minlength')
                            && employeeForm.get('empName').touched" class="text-danger">Minimum Length is 6.</div>

        <div *ngIf="employeeForm.get('empName').hasError('pattern') && !employeeForm.get('empName').hasError('minlength')
                            && employeeForm.get('empName').touched" class="text-danger">Only Alphabets are allowed.
        </div>
      </div>
      <div class="form-group">
        <label for="org">Organization:</label>
        <input class="form-control input-sm" id="org" placeholder="Enter Organization" formControlName="organization">
        <div *ngIf="employeeForm.get('organization').hasError('required')
                && employeeForm.get('organization').touched" class="text-danger">'Organization' is a mandatory field.
        </div>
        <div *ngIf="employeeForm.get('organization').hasError('minlength')
                && employeeForm.get('organization').touched" class="text-danger">Minimum Length is 6.</div>
        <div *ngIf="employeeForm.get('organization').hasError('pattern') && !employeeForm.get('organization').hasError('minlength')
                && employeeForm.get('organization').touched" class="text-danger">Only Alphabets are allowed.</div>
      </div>
      <div class="form-group">
        <label for="role">Role:</label>
        <input class="form-control input-sm" id="role" placeholder="Enter Role" formControlName="role">
        <div *ngIf="employeeForm.get('role').hasError('required')
                    && employeeForm.get('role').touched" class="text-danger">'Role' is a mandatory field.
        </div>
        <div *ngIf="employeeForm.get('role').hasError('minlength')
                && employeeForm.get('role').touched" class="text-danger">Minimum Length is 6.</div>
        <div *ngIf="employeeForm.get('role').hasError('pattern') && !employeeForm.get('role').hasError('minlength')
                && employeeForm.get('role').touched" class="text-danger">Only Alphabets are allowed.</div>
      </div>
      <div class="form-group">
        <label for="project">Project:</label>
        <input class="form-control input-sm" id="project" placeholder="Enter Project" formControlName="project">
        <div *ngIf="employeeForm.get('project').hasError('required')
                    && employeeForm.get('project').touched" class="text-danger">'Project' is a mandatory field.
        </div>
        <div *ngIf="employeeForm.get('project').hasError('minlength')
                && employeeForm.get('project').touched" class="text-danger">Minimum Length is 6.</div>
        </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input class="form-control input-sm" id="location" placeholder="Enter Location" formControlName="location">
        <div *ngIf="employeeForm.get('location').hasError('required')
                    && employeeForm.get('location').touched" class="text-danger">'Location' is a mandatory field.
        </div>
        <div *ngIf="employeeForm.get('location').hasError('minlength')
                && employeeForm.get('location').touched" class="text-danger">Minimum Length is 6.</div>
        <div *ngIf="employeeForm.get('location').hasError('pattern') && !employeeForm.get('location').hasError('minlength')
                && employeeForm.get('location').touched" class="text-danger">Only Alphabets are allowed.</div>
      </div>
      <button type="submit" class="btn btn-sm btn-success" [disabled]="employeeForm.valid == false">Submit</button>
      &nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger" (click)="addEmployeePopup = false">Cancel</button>
    </form>
  </div>
</p-dialog>

